/*Mobie*/
@media(max-width: 575px) {
    body h1 {
        font-size: 1.6rem;
    }

    /*BANNER*/
    .container-banner {
        position: relative;
        color: #fff;
    }

    .banner-inner {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner-posision {
        font-size: 12px;
        color: #eeeeee;
    }


    /*NAVIGATION BAR */
    /*ADVANCE*/
    #nav-bar {
        text-align: center;
    }

    #avata {
        display: none;
    }

    .nav-bar-info {
        display: none;
    }

    .container-nav-bar {
        display: flex;
        flex-direction: column;
    }

    .active-icon {
        font-size: 10px;
        text-decoration: none;
        color: #343a40;

    }

    .nav-icon {
        color: #199cdb;
        font-size: 10px;
    }

    .nav-bar-details {
        font-weight: 600;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px
    }

    /*ABOUT */
    #target {
        background: #f7f7f7;
        padding: 30px 40px;
        font-size: 14px;
        line-height: 1.7;
    }

    #personal-info {
        background-color: #eeeeee;
        padding: 30px 40px;
        font-size: 14px;
        line-height: 1.7;
    }

    .social {
        margin-top: 30px;
    }

    .social-icon {
        color: #199cdb;
        margin-left: 10px;
    }

    .info {
        list-style: none;
        padding: 0px;

    }

    /*JOB INFO*/
    #job-info {
        margin-top: 30px;
    }

    .info-card {
        font-size: 12px;
        line-height: 1.7;
        border: solid 1px #f1f3f5;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 36px auto;

        align-items: start;
        row-gap: 38px;
        padding: 28px;
    }

    .info-date {
        color: #908b8b;
    }

    .ul-timeline {
        color: #199cdb;
        grid-area: 2/1/2/3;
        padding-left: 28px;
    }

    .details::first-line {
        font-weight: bold;
    }

    .details {
        color: #000;
        margin-bottom: 10px;
    }

    .job-info-icon {
        font-size: 36px;
    }

    .favorite-container {
        grid-area: 2/1/2/3;
        display: flex;
        gap: 20px;

    }

    .favorite-icon {
        border: solid 1px #51f975;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }

    .level {
        background: #199cdb;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }

    .level-blank {
        background: #a2a4a7;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
    }

    .details-level {
        margin-bottom: 18px;
    }

    /*CERTIFICATE*/
    .certificate-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height: 1.7;
        font-size: 14px;
    }

    .border-right-none {
        border-right: none !important;
    }

    /*PROJECT*/
    .project-detail {
        display: grid;
        grid-template-columns: 30% 70%;
        line-height: 1.2;
        font-size: 14px;
    }

    .project-year {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .project-name {
        font-weight: 500;
    }

    .projects {
        border: solid 1px #f1f3f5;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
    }

    .project-table {
        border-bottom: solid 1px #f1f3f5;
        padding: 10px;
    }

    .year {
        color: #fff;
        width: 60px;
        height: 30px;
        padding-top: 3px;
        border-radius: 25px;
        background-color: #199cdb;
        text-align: center;
    }

    /*FOOTER*/

    .footer-container {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .footer-link {
        font-size: 1rem;
        text-decoration: none;
        color: #343a40;
    }

    .footer-icon {
        color: #199cdb;
        font-size: 20px;
    }

    .footer-details {
        display: flex;
        align-items: center;
    }
}